body {
  background-color: #e7e7ef;
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  min-width: 506px; }

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  overflow: hidden; }

main.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (min-width: 1440px) {
  .container {
    width: 99%;
    max-width: 1600px; }
  main.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

.page-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1f5fc0;
  min-height: 96px;
  width: 100%;
  padding-top: 20px;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .page-header {
      height: 144px;
      padding-top: 0; } }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.page-header__logo img {
  width: 200px;
  height: 27px;
  cursor: pointer; }
  @media (min-width: 425px) {
    .page-header__logo img {
      width: 249px;
      height: 34px; } }

@media (min-width: 767px) and (max-width: 1023px) {
  .page-header__logo img {
    width: 200px;
    height: 27px; } }

.page-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 19px; }

.page-header__info span {
  margin: 0;
  margin-left: 32px;
  font-size: 12px;
  line-height: 23px;
  color: #8acbf9; }

@media (max-width: 1023px) {
  .page-header__info {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; } }

@media (max-width: 850px) {
  .main-nav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    height: 100%;
    background-color: #1f5fc0;
    z-index: 5;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .main-nav--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-nav__list li {
    margin: 0;
    padding: 0; }
  .main-nav__item,
  .main-nav__user-block a {
    display: inline-block;
    margin: 8px 0;
    font-size: 21px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 20%; }
  .main-nav__item--active {
    color: #8acbf9; }
  .main-nav__item:hover,
  .main-nav__user-block a:hover,
  .main-nav__item:active,
  .main-nav__user-block a:active {
    color: #8acbf9; }
  .main-nav__user-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .main-nav__icon-user img {
    display: none; }
  .nav-overlay {
    position: fixed;
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 4;
    cursor: pointer; }
  .nav-overlay--show {
    display: block; }
  .nav-btn {
    position: relative;
    width: 34px;
    height: 27px;
    margin-left: auto;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav-btn::before {
    content: "";
    position: absolute;
    top: 11px;
    width: 34px;
    height: 5px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav-btn::after {
    content: "";
    position: absolute;
    top: 22px;
    width: 34px;
    height: 5px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav-btn__line {
    position: absolute;
    top: 0;
    width: 34px;
    height: 5px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav-btn--active .nav-btn__line {
    top: 10px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  .nav-btn--active::after {
    top: 10px;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg); }
  .nav-btn--active::before {
    background-color: transparent; } }

@media (min-width: 850px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto;
    margin: 0;
    padding: 0; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    list-style: none; }
  .main-nav__list li {
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .main-nav__item,
  .main-nav__user-block a {
    display: inline-block;
    margin: 8px 5px;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    text-decoration: none; }
  .main-nav__item--active {
    color: #8acbf9; }
  .main-nav__item:hover,
  .main-nav__user-block a:hover,
  .main-nav__item:active,
  .main-nav__user-block a:active {
    color: #8acbf9; }
  .main-nav__icon-user {
    display: block;
    margin: 8px 10px; }
  .main-nav__icon-user img {
    width: 16px;
    height: 19px; }
  .nav-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; } }

@media (min-width: 1023px) {
  .main-nav__list {
    width: 68%;
    margin-left: 38px; }
  .main-nav__item,
  .main-nav__user-block a {
    font-size: 18px;
    line-height: 23px; } }

@media (min-width: 1440px) {
  .main-nav__list {
    width: auto;
    margin-left: 68px; }
  .main-nav__list li {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .main-nav__item,
  .main-nav__user-block a {
    margin: 8px 24px;
    font-size: 18px;
    line-height: 23px; } }

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 456px;
  margin: 0 auto;
  padding: 28px 0 0;
  background-color: #fff; }

.sidebar__tab-btn {
  margin: 0 24px;
  font-size: 16px;
  line-height: 23px;
  color: #3f87f5;
  text-decoration: none;
  border-bottom: dashed 1.5px #afb4b9;
  cursor: pointer; }

.sidebar__tab-btn:hover,
.sidebar__tab-btn:active {
  color: #1f5fc0;
  border-bottom: dashed 1.5px #1f5fc0; }

.sidebar__tab-btn--active {
  /*  margin-left: 24px;*/
  font-size: 22px;
  line-height: 23px;
  color: #222730;
  cursor: auto;
  border: none; }

.sidebar__tab-btn--active:hover,
.sidebar__tab-btn--active:active {
  color: #222730;
  border: none; }

.sidebar__tab {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 23px;
  color: #cecfd0; }

.sidebar__tab--show {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap; }

.sidebar__info-column {
  position: relative; }

.sidebar__info-column--left::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 19px;
  height: 17px;
  background: url(../img/arrow.png);
  cursor: pointer; }

.sidebar__info-column input {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 180px;
  margin: 0 24px 31px;
  padding: 11px 15px;
  border: 1px solid #cecfd0;
  border-radius: 5px;
  color: black !important; }

.sidebar__list {
  display: none;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.sidebar__list--show {
  display: block; }

.sidebar__list-btn {
  position: relative;
  margin: 0;
  padding: 0 24px;
  font-size: 14px;
  line-height: 39px;
  color: #93999f;
  background-color: #fff;
  border-top: 1px solid #ececef;
  cursor: pointer; }

.sidebar__list-btn--first {
  border: none;
  line-height: 40px; }

.sidebar__list-btn::after {
  position: absolute;
  content: "";
  top: 18px;
  right: 24px;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px solid #5494f6;
  border-radius: 2px;
  border-left: transparent;
  border-top: transparent; }

.sidebar__list-btn--active::after {
  position: absolute;
  content: "";
  top: 18px;
  right: 24px;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  border: 2px solid #5494f6;
  border-radius: 2px;
  border-left: transparent;
  border-top: transparent; }

.sidebar__list-item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 24px;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer; }

.sidebar__list-item:nth-child(2n) {
  background-color: #fff; }

.sidebar__list-item td:first-child {
  width: 24px;
  padding-left: 1px; }

.sidebar__list-item td:nth-child(2) {
  width: 140px;
  padding-left: 12px;
  color: #434851; }

.sidebar__list-item td:last-child {
  color: #93999f; }

.sidebar__list-item:hover {
  background-color: #ececef;
  color: #222730; }

.sidebar__list-item img {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 2px; }

.sidebar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 456px;
  margin: 24px auto 0;
  padding: 28px 0 24px;
  background-color: #fff; }

.sidebar2__tab-btn {
  margin: 0 24px;
  font-size: 16px;
  line-height: 23px;
  color: #3f87f5;
  text-decoration: none;
  border-bottom: dashed 1.5px #afb4b9;
  cursor: pointer; }

.sidebar2__tab-btn:hover,
.sidebar2__tab-btn:active {
  color: #1f5fc0;
  border-bottom: dashed 1.5px #1f5fc0; }

.sidebar__tab-btn--active {
  /*  margin-left: 24px;*/
  font-size: 22px;
  line-height: 23px;
  color: #222730;
  cursor: auto;
  border: none; }

.sidebar__tab-btn--active:hover,
.sidebar__tab-btn--active:active {
  color: #222730;
  border: none; }

.sidebar2__tab {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 23px;
  color: #cecfd0; }

.sidebar__tab--show {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap; }

.sidebar2__table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 40px;
  color: #434851; }
  .sidebar2__table th {
    font-size: 14px;
    line-height: 36px;
    color: #93999f;
    font-weight: 300; }
  .sidebar2__table tr {
    cursor: pointer; }
  .sidebar2__table tr:hover,
  .sidebar2__table tr:focus {
    background-color: #ececef;
    color: #222730; }

.sidebar2__table--left th,
.sidebar2__table--left td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.sidebar2__table--left th:nth-child(1),
.sidebar2__table--left td:nth-child(1) {
  padding-left: 24px;
  width: 29%;
  text-align: left; }

.sidebar2__table--left th:nth-child(2),
.sidebar2__table--left td:nth-child(2) {
  text-align: right;
  width: 29%; }

.sidebar2__table--left th:nth-child(3),
.sidebar2__table--left td:nth-child(3) {
  padding-right: 24px;
  width: 42%;
  text-align: right; }

.sidebar2__table--right th,
.sidebar2__table--right td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%; }

.sidebar2__table--right th:nth-child(1),
.sidebar2__table--right td:nth-child(1) {
  padding-left: 24px;
  text-align: left; }

.sidebar2__table--right th:nth-child(2),
.sidebar2__table--right td:nth-child(2) {
  padding-right: 24px;
  text-align: right; }

.sidebar__item-img {
  position: relative;
  top: 6px;
  margin-right: 14px; }

.arrow {
  position: relative; }

.arrow__red::after {
  position: absolute;
  top: 19px;
  right: -19px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  content: "";
  width: 11px;
  height: 2px;
  background: red; }

.arrow__red::before {
  position: absolute;
  top: 17px;
  right: -18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  width: 5px;
  height: 5px;
  border: 2px solid red;
  border-top-color: transparent;
  border-left-color: transparent; }

.arrow__green::after {
  position: absolute;
  top: 19px;
  right: -19px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  content: "";
  width: 11px;
  height: 2px;
  background: green; }

.arrow__green::before {
  position: absolute;
  top: 14px;
  right: -18px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  content: "";
  width: 5px;
  height: 5px;
  border: 2px solid green;
  border-top-color: transparent;
  border-left-color: transparent; }

.currency-symbol {
  color: #afb4b9; }

@media (min-width: 1440px) {
  .sidebar2 {
    width: 390px;
    margin: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } }

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 456px;
  padding: 24px 0 0;
  margin: 24px auto 0;
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  background: #fff; }
  .content h1 {
    font-size: 26px;
    line-height: 32px;
    color: #222730;
    font-weight: 300;
    margin-bottom: 25px; }
  .content h2 {
    font-size: 26px;
    line-height: 32px;
    color: #222730;
    font-weight: 300;
    margin-bottom: 20px; }
  .content p {
    font-size: 14px;
    line-height: 24px;
    color: #434851; }
  .content a {
    color: #3f87f5;
    text-decoration: none; }
  .content a:hover,
  .content a:focus {
    text-decoration: underline; }

@media (min-width: 1440px) {
  .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
    padding: 24px 0 0;
    margin: 0 24px;
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    background: #fff; } }

.content__text {
  padding: 0 24px; }

.text--right {
  display: block;
  text-align: right;
  margin: 25px 0 56px; }

.content__comment {
  padding: 28px 12px; }

.content__comment--red {
  background-color: #fce7e7; }

.content__comment--grey {
  background-color: #f1f6fe; }

span.table-caption {
  font-size: 26px;
  line-height: 32px;
  color: #222730;
  font-weight: 300; }

.table-exchange {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0 25px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 40px;
  border-bottom: 1px solid #ececef; }
  .table-exchange tr {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    width: 100%; }
  .table-exchange tbody {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }
  .table-exchange tr:first-child {
    border-bottom: 1px solid #ececef; }
  .table-exchange tr:hover,
  .table-exchange tr:focus {
    background-color: #eff5fe;
    color: #222730; }
  .table-exchange tr:hover .table-exchange__number--green,
  .table-exchange tr:focus .table-exchange__number--green {
    color: #379c10; }
  .table-exchange tr:hover .table-exchange__number--red,
  .table-exchange tr:focus .table-exchange__number--red {
    color: #e61d1d; }
  .table-exchange th {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 18%;
    padding: 13px 0;
    font-size: 14px;
    line-height: 16px;
    vertical-align: baseline; }
  .table-exchange th:nth-child(1) {
    width: 28%;
    padding-left: 24px;
    text-align: left; }
  .table-exchange th:nth-child(2) {
    text-align: right; }
  .table-exchange th:nth-child(3) {
    padding-left: 20px;
    text-align: left; }
  .table-exchange th:nth-child(5) {
    padding-right: 24px; }
  .table-exchange td {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 18%;
    text-align: right;
    box-sizing: border-box; }
  .table-exchange td:nth-child(1) {
    padding-left: 24px;
    width: 28%;
    text-align: left; }
  .table-exchange td:nth-child(3) {
    padding-left: 20px;
    text-align: left; }
  .table-exchange td:nth-child(5) {
    padding-right: 24px; }

.content__footer {
  border-top: 1px solid #ececef;
  padding: 20px 24px;
  margin-top: 25px; }
  .content__footer span {
    display: block;
    margin: 7px 0; }
  .content__footer a {
    margin-right: 7px; }

.info-exchange__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px; }

.info-exchange__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 195px;
  margin: 16px 0;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #afb4b9;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #afb4b9; }

.info-exchange__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  margin: 16px 0;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  background: #3f87f5;
  border-radius: 5px;
  color: #fff;
  border: none; }

@media (min-width: 1440px) {
  .info-exchange__input {
    width: 35%;
    margin: 16px 0;
    padding: 10px 15px; }
  .info-exchange__btn {
    padding: 10px 0;
    margin: 16px 0;
    width: 23%; } }

.banners {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 456px;
  margin: 0 auto; }

.banners--pc {
  display: none; }

.banners__item {
  display: block;
  width: 384px;
  margin: 24px auto; }

.partnership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0;
  width: 100%;
  border-top: 1px solid #e7e7ef;
  background-color: #fff; }

.partnership__img {
  width: 76px; }

.partnership__text {
  font-size: 22px;
  line-height: 28px; }

.partnership__link {
  font-size: 16px;
  line-height: 28px;
  color: #1f5fc0;
  text-decoration: none; }

.partnership__link:hover,
.partnership__link:focus {
  text-decoration: underline; }

@media (min-width: 1440px) {
  .banners--pc {
    display: block; }
  .banners--mobile {
    display: none; } }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px; }

.page-footer__coopyright {
  width: 190px;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: #afb4b9; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px; }

@media (min-width: 768px) {
  .page-footer__coopyright {
    width: auto; } }

.page-footer__social-btn {
  display: inline-block;
  background: url("../img/social.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.page-footer__social-btn--twitter {
  background-position: -10px -0px;
  width: 22px;
  height: 19px; }

.page-footer__social-btn--in {
  background-position: -10px -29px;
  width: 21px;
  height: 19px; }

.page-footer__social-btn--facebook {
  background-position: -10px -58px;
  width: 12px;
  height: 24px; }

.page-footer__social-btn:hover,
.page-footer__social-btn:focus {
  background-image: url("../img/social-dark.png"); }
