// общие свойства
body {
  background-color: #e7e7ef;
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;

  min-width: 320px;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
}

.container {
  box-sizing: border-box;
  width: 97%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1600px;
}

main.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: -24px;
}

@media (min-width: 506px) {
  main.container {
    width: 456px;
  }
}

@media (min-width: 768px) {
  main.container,
  .container {
    width: 97%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 95%;
  }

  main.container {
    width: 950px;
  }
}
@media (min-width: 1280px) {
  main.container {
    display: block;
  }
  main.container,
  .container {
    width: 98%;
  }
}

@media (min-width: 1440px) {
  main.container,
  .container {
    width: 86%;
  }
}

