// код для баннеров и блока "стать партнером"

.banners {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	clear: right;
}

.banners__item {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 24px auto;

	img {
		width: 100%;
		height: auto;
	}
}

.partnership {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 26px 0 20px;
	width: 100%;
	border-top: 1px solid #e7e7ef;
	background-color: #fff;	
}
.partnership__img {
	width: 76px;
}

.partnership__text {
	font-size: 22px;
	line-height: 39px;
}

.partnership__link {
	font-size: 16px;
	line-height: 28px;
	color: #1f5fc0;
  text-decoration: none;
}

.partnership__link:hover,
.partnership__link:focus {
	text-decoration: underline;
}

@media (min-width: 768px) {
	.banners {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		clear: right;
	}
	.banners__item {
		width: 48%;
	}
}

@media (min-width: 1280px) {
	.banners {
		float: right;
		display: inline-block;
		width: 25%;
		clear: right;
	}
	.banners__item {
		width: 100%;
	}
}

@media (min-width: 1440px) {
	.banners{
		width: 27%;
	}
}

@media (min-width: 1680px) {
	.banners {
		width: 24%;
	}
}

@media (min-width: 1680px) {
	// .banners {
	// 	width: 384px;
	// }

}