.content 	{
	box-sizing: border-box;
	width: 100%;
	padding: 24px 0 0;
	margin: 24px auto 0;
	font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  background: #fff;

  h1 {
  	font-size: 24px;
  	line-height: 28px;
  	color: #222730;
  	font-weight: 300;
  	margin-top: 0;
  	margin-bottom: 25px;
  }

  h2 {
  	font-size: 24px;
  	line-height: 28px;
  	color: #222730;
  	font-weight: 300;
  	margin-top: 38px;
  	margin-bottom: 20px;
  }

  p {
  	font-size: 14px;
  	line-height: 24px;
  	color: #434851;
  }

  a {
  	color: #3f87f5;
  	text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
  	text-decoration: underline;
  }
}


.content__text {
	padding: 0 12px;
}

div.content__text--grey > * {
	font-size: 12px;
	line-height: 24px;
	color: #afb4b9;
}

.text--right {
	display: block;
	text-align: right ;
	margin: 25px 0 56px;
}

.content__comment {
	padding: 26px 12px;
	margin: 16px 0;
}

.content__comment--red { 
	background-color: #fce7e7;
}

.content__comment--grey { 
	background-color: #f1f6fe;
}


.content__footer {
	// border-top: 1px solid #ececef;
	padding: 8px 12px 20px;
	// margin-top: 25px;
	font-size: 14px;
	line-height: 20px;

	span {
		display: block;
		margin: 7px 0;
		color: #93999f;
	}

	a {
		margin-right: 10px;
		font-size: 12px;
	}
}


@media (min-width: 506px) {
	.content__text {
		padding: 0 24px;
	}
	.content__footer {
		padding: 8px 24px 20px;

		a {
			font-size: 14px;
		}
	}

}


// , (min-width: 1300px) and (max-width: 1536px)
@media (min-width: 768px) and (max-width: 1280px)  {
	.content__footer span {
			display: inline-block;
			margin-right: 15px;
	}
}


@media (min-width: 768px) {
	.content h1,
	.content h2 {
	  font-size: 22px;
	  // line-height: 23px;
	}

}

@media (min-width: 1280px) {
	.content {
		float: left;
    width: 40%;
    margin: 0 1.5%;

	}

	.content__text {
		padding: 0 12px;
	}

	.content__footer span {
		display: inline-block;
	}
}


@media (min-width: 1440px) {
	.content {
    width: 38%;
	}
	.content__text {
		padding: 0 24px;
	}
}


@media (min-width: 1680px) {
	.content {
    width: 45%;
	}
}


