// Шапка сайта
.page-header {
  box-sizing: border-box;
  min-height: 96px;
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  background-color: #1f5fc0;
}


.page-header__info {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 19px;
}

.page-header__info span {
  margin: 0;
  margin-left: 32px;
  font-size: 12px;
  line-height: 23px;
  color: #8acbf9;
}

.page-header__nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.page-header__logo img {
  width: 200px;
  height: 27px;
  cursor: pointer;
}


@media (min-width: 1024px) {
  .page-header {
    min-height: 144px;
    padding-top: 0;
  }

  .page-header__info {
    display: flex;
  }

  .page-header__logo img {
    width: 249px;
    height: 34px;
  }
}